{% extends 'template.html'%}
{% block conteudo%}
<form class="formularioJogo" method="post" action="{{ url_for('criar') }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <figure class="img-thumbnail col-md-4 formularioImagem">
        <img class="img-fluid" src="{{url_for('imagem', nome_arquivo='padrao.png')}}" alt="Imagem padrao de capa">
        <figcaption>
            <label class="fileContainer">
                Mudar Capa
                <input type="file" name="image" accept=".jpg">
            </label>
        </figcaption>
    </figure>

    <fieldset>
        <div class="form-group inputBox">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
        </div>
        <div class="form-group inputBox">
            {{ form.categoria.label(class="form-label") }}
            {{ form.categoria(class="form-control") }}
        </div>
        <div class="form-group inputBox">
            {{ form.console.label(class="form-label") }}
            {{ form.console(class="form-control") }}
        </div>
        <div class="form-group buttons">
            {{ form.salvar(class="btn btn-primary") }}
        </div>
    </fieldset>
</form>
{% endblock %}